
/* генеральные стили тут header footer main  */
/* Обертка, которая занимает минимальную высоту экрана и устанавливает содержимое по вертикали */
.wrapper {
  min-height: 100%; 
  display: flex; /* Элементы располагаются в строку */
  flex-direction: column; /* Элементы располагаются вертикально */
}

/* шапка */
.header {
  background-color: #EFEBDD; 
  color: white; 
  position: fixed; /* Фиксированная позиция для постоянного отображения на верху страницы */
  display: flex; /* Элементы располагаются в строку */
  align-items: center; /* Содержимое выравнивается по центру вертикали */
  top: 0; /* Отступ сверху */
  left: 0; /* Отступ слева */
  right: 0; /* Отступ справа */
  height: 13%; /* Высота шапки */
  border-bottom: 3px solid black;
  border-left: 3px solid black; 
  border-right: 3px solid black; 
  z-index: 2; /* Порядок элемента */
}

/* подвал */
.footer {
  background-color: #EFEBDD; 
  width: 100%; 
  height: 8%; 
  position: fixed; /* Фиксированная позиция для постоянного отображения внизу страницы */
  display: flex; /* Элементы располагаются в строку */
  align-items: center; /* Содержимое выравнивается по центру вертикали */
  bottom: 0; /* Отступ снизу */
  left: 0; /* Отступ слева */
  right: 0; /* Отступ справа */
  border-top: 3px solid black;
  border-left: 3px solid black; 
  border-right: 3px solid black;
  z-index: 2; /* Порядок элемента */
}

/* Основное содержимое страницы */
.main {
  background-color: #EFEBDD; 
  position: fixed; /* Фиксированная позиция */
  top: 13%; /* Отступ сверху (высота шапки) */
  bottom: 8%; /* Отступ снизу (высота подвала) */
  width: 100%; 
  height: calc(100% - 21%); /* Высота = 100% минус высота шапки и подвала */
}


