.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer-text {
  font-family: Pixel-Ultima-Bold;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  font-size: calc(1vw + 1vh); /* Размер шрифта зависит от ширины экрана */
  
}

.right-half {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: calc(0.8vw + 0.8vh); /* Размер шрифта зависит от ширины экрана */
}

.burger-menu-footer {
  display: none;
  cursor: pointer;
}

.burger-menu-footer img {
  width: 5vw; /* Адаптивный размер, равный 5% от ширины окна */
  height: auto; /* Сохраняет соотношение сторон */
  max-width: 40px; 
  transition: transform 0.3s ease;
}

.burger-menu-footer.open img {
  transform: rotate(90deg); /* Поворот изображения при открытии меню */
}

.footer-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 50px;
  border-radius: 10px;
}

.footer-link:hover {
  color: #ffffff;
  background-color: #594E3E;
}

.footer-link.active {
  color: #ffffff;
  background-color: #594E3E;
}


@media screen and (max-width: 1028px) {
  .right-half {
    position: relative;
  }

  .burger-menu-footer {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .footer-nav-list {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Прижать к нижнему краю */
    right: 0; /* Прижать к правому краю */
    transform: translate(-10px, -30%); /* Сдвинуть вверх на 30% и влево на 10px */
    width: auto;
    max-width: calc(100vw - 30px);
    background-color: #EFEBDD;
    border: 1px solid #594E3E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0; /* Начальная непрозрачность */
    display: none; /* Скрыть меню по умолчанию */
  }
  
  .footer-nav-list.open {
    display: flex;
    flex-direction: column;
    opacity: 1; /* Сделать меню полностью непрозрачным */
  }
  
  .footer-link {
    color: #000000;
    text-decoration: none;
    padding: 8px;
    margin: 0;
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
  }
  
  .footer-link:hover {
    color: #ffffff;
    background-color: #594E3E;
  }
  
  .footer-link.active {
    color: #ffffff;
    background-color: #594E3E;
  }


  .left-half {
    position: relative;
  }
  

}
