/* Содержимое хедера */
.header-content {
  display: flex; /* Элементы располагаются в строку */
  width: 100%; 
  height: 100%; 
  justify-content: space-between; /* Равномерное распределение пространства между элементами */
  align-items: center; /* Выравнивание элементов по центру вертикали */
  font-size: calc(0.7vw + 0.7vh); 
  background-color: #EFEBDD; 
  position: relative; /* Относительное позиционирование для правильного позиционирования бургер-меню */
}

/* Обертка для логотипа в хедере */
.header-logo-wrapper {
  max-width: 20%; 
}


.header-logo {
  width:80%; 
  height: 80%; 
  max-width: 100px; 
  margin-left: 50%; /* Отступ слева */
  margin-right: 10%; /* Отступ справа */
}


.header-navbar-wrapper {
  width: 80%; 
  max-width: 80%;
  overflow: hidden; /* Скрытие содержимого, выходящего за границы */
  height: 100%; 
  display: flex; /* Элементы располагаются в строку */
  justify-content: flex-end; /* Выравнивание элементов по концу (справа) */
  align-items: center; /* Выравнивание элементов по центру вертикали */
  position: relative; /* Относительное позиционирование */
}


.header-nav-list {
  list-style-type: none; /* Убираем стандартную маркеровку */
  margin: 0; /* Сбрасываем внешние отступы */
  padding: 0; /* Сбрасываем внутренние отступы */
  display: flex; /* Элементы располагаются в строку */
  justify-content: flex-end; /* Выравнивание элементов по концу (справа) */
  width: 100%; 
}


.nav-link {
  color: #000000; 
  text-decoration: none; /* Убираем подчеркивание */
  padding: 7px; /* Внутренние отступы */
  margin-right: 20px; /* Внешний отступ справа */
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  border-radius: 10px; /* Закругленные углы */
}

/* При наведении на ссылку в навигационном меню */
.nav-link:hover {
  color: #ffffff; /* Изменяем цвет текста */
  background-color: #594E3E; /* Изменяем цвет фона */
}


.nav-link.active {
  color: #ffffff; 
  background-color: #594E3E;
}


.burger-menu-header {
  display: none; /* Скрываем иконку бургер-меню */
  cursor: pointer; /* Изменяем курсор на указатель */
  position: absolute; /* Абсолютное позиционирование для правильного отображения */
  top: 50%; /* Располагаем по вертикали по центру */
  right: 20px; /* Отступ справа */
  transform: translateY(-50%); /* Выравниваем по вертикали */
}

.burger-menu-header img {
  width: 5vw; /* Адаптивный размер, равный 5% от ширины окна */
  height: auto; /* Сохраняет соотношение сторон */
  max-width: 40px; /* Ограничение максимального размера */
  transition: transform 0.3s ease;
}

.burger-menu-header.open img {
  transform: rotate(90deg); /* Поворот изображения при открытии меню */
}

@media screen and (max-width: 768px) {
  .header-content {
    font-size: calc(0.7vw + 0.8vh);
  }

  .header-nav-list {
    display: none;
    margin: auto;
    
  }

  .header-nav-list.open {
    list-style-type: none;
    margin: 10px;
    position: absolute;
    top: 15%; /* Перемещаем вверх на 50% */
    right: 2%; /* Перемещаем влево на 50% */
    transform: translate(0%, 40%); /* Центрируем относительно центра экрана */
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Отступы вокруг элементов списка */
    width: auto; /* Сбрасываем ширину на auto */
    background-color: #EFEBDD;
    border: 1px solid #594E3E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .header-nav-list.open li {
    margin-bottom: 10px; /* Добавляем отступ снизу между элементами списка */
  }
  
  .header-nav-list.open li:last-child {
    margin-bottom: 0; /* Убираем отступ у последнего элемента списка */
  }
  .burger-menu-header {
    display: block;
    z-index: 1001; /* Устанавливаем z-index, чтобы бургер-меню отображалось выше меню */
  }

  .header-navbar-wrapper {
    position: relative; /* Изменим позиционирование на относительное */
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none; /* Сброс максимальной ширины */
    overflow: visible; /* Показываем содержимое, которое выходит за границы */
  }

}
