.map-page-container {
  display: flex;
  width: 100%;
  z-index: 1;
  overflow-y: auto; /* Всегда показывать полоску прокрутки */

}

.map-container {
  position: fixed;
  flex-grow: 1;
  width: 55%;
  height: 100%;
  overflow-y: hidden; /* Запрещаем горизонтальную прокрутку */
  overflow-x: hidden; /* Запрещаем горизонтальную прокрутку */
  z-index: 0;
}

.filter-popup-button-mobile {
  display: none;
}

.leaflet-container {
  width: 100%; /* Устанавливаем ширину карты на 100% от ширины родительского элемента */
  height: 100%; /* Устанавливаем высоту карты */
  border: 3px solid rgb(0, 0, 0);
}

.filters-popup-container {
  position: relative;
  flex-shrink: 0; /* Запрещаем сжатие фильтров */
  width: 45%; /* Ширина контейнера с фильтрами */
  margin-left: 55%; /* Смещаем контейнер с фильтрами вправо на 70% */
  height: calc(100% - 21%); /* 100% минус 13% (хедер) и 8% (футер) */
  position: fixed;
  z-index: 0;
  padding-left: 20px;
  background-color: #EFEBDD;
  border: 3px solid rgb(0, 0, 0);
  overflow-y: auto; /* Всегда показывать полоску прокрутки */
  font-size: calc(0.7vw + 0.7vh);

}


.filters-buttons-container {
  position: relative;
  width: 100%; /* Ширина контейнера с фильтрами */ 
  height: 10%;
  padding: 0;
  margin: 0;
  z-index: 1;
  background-color: #EFEBDD;
  text-align: center;


}

.monument-popup-button,
.monument-filter-button {
  background-color: #594E3E; /* Цвет фона кнопки */
  color: #ffffff; /* Цвет текста кнопки */
  border: 2px solid #594E3E; /* Граница кнопки */
  padding: 1% 1%; /* Внутренние отступы в процентах */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы для изменения свойств */
  margin-top: 5%; /* Отступ сверху */
  margin-left: 5%; /* Отступ слева */
  margin-right: 5%; /* Отступ слева */
  width: 32%;
  height: 60%;
  text-align: center;
  font-family: Pixel-Ultima-Regular;
  font-size: calc(0.7vw + 0.7vh);

}

.monument-filter-button.open,
.monument-filter-button:hover,
.monument-popup-button.open,
.monument-popup-button:hover {
  background-color: #C87E7B; /* Цвет фона кнопки при открытом фильтре и наведении */
}
.monument-filter-button:focus,
.monument-popup-button:focus {
  outline: none; /* Убираем фокусировку */
}

.monument-filter-button .fa-angle-down,
.monument-popup-button .fa-angle-down {
  margin-left: 8px; /* Отступ от текста кнопки до иконки */
}


.monument-type-button,
.monument-date-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #594E3E;
  color: #ffffff;
  border: 1px solid #594E3E;
  padding: 2% 4%; /* Внутренние отступы в процентах */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 2.5%; /* Отступ сверху в процентах */
  position: relative;
  font-family: Pixel-Ultima-Regular;
  font-size: calc(0.7vw + 0.7vh);
}

.monument-type-button.open,
.monument-date-button.open {
  background-color: #769978;
}

/* Стрелочка */
.monument-type-button .arrow,
.monument-date-button .arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff; /* Цвет стрелочки */
  margin-left: 8px; /* Отступ слева для стрелочки */
}

/* Поворот стрелочки при открытии */
.monument-type-button.open .arrow,
.monument-date-button.open .arrow {
  transform: rotate(270deg);
}



.dropdown-menu {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative; /* Изменение на относительное позиционирование */
  background-color: #ffffff; /* Прозрачность 50% */
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1;
  text-align: left; /* Выравнивание текста по левому краю */
  width: 80%; /* Занимает 80% ширины родительского контейнера */
}

.dropdown-content.open {
  display: block;
}

.monument-type-button + .dropdown-content {
  top: calc(100% + 5px); /* смещение на 5 пикселей ниже кнопки "Тип" */
  z-index: 2; /* Установка более высокого z-index */
}

.checkbox-item {
  margin-bottom: 8px;
  /* Красная граница для обертки чекбоксов */
}

.checkbox-item label {
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(0.7vw + 0.7vh);
}


.popup-content {
  background-color: #EFEBDD; /* Цвет фона */
  width: 90%; /* Ширина контента */
  max-height: 70vh; /* Максимальная высота с прокруткой (70% от высоты экрана) */
  overflow-y: auto; /* Включение вертикальной прокрутки, если контент не помещается */
  padding: 2%; /* Паддинг внутри контента (2% от ширины контейнера) */
  margin: 5% auto; /* Отступ сверху и снизу, автоматическое выравнивание по горизонтали */
  margin-right: 5%; /* Отступ сверху и снизу, автоматическое выравнивание по горизонтали */
  border: 2px solid #CCCCCC; /* Граница */
  border-radius: 10px; /* Закругление углов */
  text-align: justify; /* Выравнивание текста по ширине */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(0.7vw + 0.7vh);

}

.popup-content h2 {
  text-align: center; /* Выравнивание заголовка по центру */
  margin-bottom: 2%; /* Отступ снизу заголовка (2% от ширины контейнера) */
  font-family: Pixel-Ultima-Bold;
}

.popup-content p, .popup-content ul {
  margin-bottom: 1%; /* Отступ снизу для абзацев и списков (1% от ширины контейнера) */
}

.popup-content ul {
  list-style-type: disc; /* Установка маркера списка */
  padding-left: 2%; /* Отступ слева для списка (2% от ширины контейнера) */
}

.dating-button,
.category-button {
  border-radius: 30px; /* Скругление углов */
  background-color: #877C67; /* Черный фон */
  color: #ffffff; /* Цвет текста */
  padding: calc(0.5vw + 0.5vh) calc(1vw + 1vh); /* Внутренние отступы относительно размеров экрана */
  margin-right: calc(0.5vw + 0.5vh); /* Отступ справа относительно ширины экрана */
  margin-bottom: calc(1vh + 1vw); /* Отступ снизу относительно высоты экрана */
  display: inline-block; /* Кнопки в строчку */
  margin-bottom: 10px; /* Расстояние между строками */
  font-size: calc(0.7vw + 0.7vh);
}
.monument-dating h4,
.monument-type h4 {
  display: inline; /* Отображение заголовка в строчку */
  margin-right: 10px; /* Расстояние между заголовком и кнопками */

}



.photo-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid black; /* Красная граница */
  border-radius: 10px;
}

.image-description {
  position: absolute;
  bottom: 1%;
  left: 5%; /* расстояние от левого края */
  background-color: rgba(0, 0, 0, 0.7); /* черный цвет с прозрачностью 70% */
  color: white; /* белый цвет текста */
  font-size: calc(0.8vw + 0.8vh);
  font-weight: bold; /* жирный текст */
  padding: 10px; /* отступы внутри блока */
  z-index: 999;
}


.PhotoView__Photo {
 
}

.info-text,
.info-text.show {
  display: none;
}
.close-line,
.close-button {
  display: none;
}

.close-line:first-child {
  transform: translate(-50%, -50%) rotate(45deg); /* Поворот линии на 45 градусов */
}

.close-line:last-child {
  transform: translate(-50%, -50%) rotate(-45deg); /* Поворот линии на -45 градусов */
}



.filter-popup-button-mobile {
  
}

@media (max-width: 1000px) {

  .info-text {
    position: fixed; /* Позиционируем элемент относительно окна просмотра */
    margin-top: 5%; /* Отступ сверху */
    margin-bottom: 15%;
    margin-left: 5%; /* Отступ слева */
    margin-right: 5%; /* Отступ справа */
    padding: 5%; /* Внутренний отступ */
    min-width:  80%;
    width: auto; /* Ширина элемента (100% - 5% - 5% = 90%) */
    max-height: 65%; /* Максимальная высота элемента */
    overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
    display: flex; /* Размещаем содержимое по центру */
    align-items: center;
    justify-content: center;
    background-color: #EFEBDD; /* Цвет фона */
    border: 3px solid rgb(0, 0, 0); /* Граница */
    z-index: 999; /* Позиционируем элемент поверх других элементов */
    opacity: 0; /* Начальная прозрачность */
    visibility: hidden; /* Скрыт */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Анимация для плавного появления */
}
  .info-text.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear;
  }

  .close-button {
    display: block;
    position: fixed; /* Позиционируем элемент абсолютно относительно ближайшего позиционированного (не static) родителя */
    width: 5%;
    height: 5%;
    top: 15%; /* Выравниваем по верхнему краю родителя */
    right: 7%; /* Выравниваем по правому краю родителя */
    cursor: pointer; /* Изменяем форму указателя при наведении на кнопку */
    z-index: 10000; /* Устанавливаем высокий z-index для позиционирования поверх других элементов */
  }
  
  .close-line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4vw; /* Ширина линии крестика (3% от ширины экрана) */
    height: 0.5vw; /* Толщина линии крестика (0.3% от ширины экрана) */
    background-color: brown; /* Цвет линии крестика */
    transform-origin: center;
  }


  .map-page-container {
    display: flex;
    width: 100%;
    overflow-y: auto;
  }

  .filter-popup-button-mobile  {
    display: block;
    position: absolute; /* Абсолютная позиция */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 9999; /* Приоритет над другими элементами */
  }
  
  .map-container {
    position: relative;
    flex-grow: 1;
    width: 100%; /* Занимаем всю доступную ширину */
    height: 100vh; /* Занимаем всю доступную высоту экрана */
    z-index: 0;
  }
  
  .leaflet-container {
    width: 100%;
    height: 100%;
  }
  
  .filters-popup-container {
    display: none; /* Скрываем FilterPopupPage по умолчанию */
  }
}


