/* MonumentDetailsPage.css */

.monument-details-page {
  position: relative; /* Для правильного позиционирования абсолютных элементов внутри */
  width: 100%; /* Делаем контейнер растягивающимся на всю ширину */
  height: 100%; /* Делаем контейнер растягивающимся на всю высоту */
  overflow-y: auto; /* Разрешаем вертикальную прокрутку, если содержимое не помещается */
  overflow-x: hidden;
  font-size: calc(0.7vw + 0.7vh);
}

.monument-details-left-col {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  
}

.monument-details-center-col {
  position: absolute; /* Используем относительное позиционирование */
  left: 10%;
  width: 80%;
  align-self: center;
  /* border: 3px solid #000000; */
  height: auto; /* Высота зависит от содержимого */
}

.monument-details-right-col {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  padding-left: 20px; /* Отступ слева для содержимого в правой колонке */
}

/* Дополнительные стили для текста */
.monument-details-left-col p,
.monument-details-right-col p {
  color: #ffffff;
}

.monument-details-left-column-content p{
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  
  .monument-details-center-col
   {
    position: static; /* Сбросим абсолютное позиционирование */
    min-width: 95%; /* Ширина всех колонок на всю ширину экрана */
  }

  .monument-details-center-col {
    order: -1; /* Поместим центральную колонку наверху */
    border-left: none; /* Уберем рамку для центральной колонки */
    border-right: none; /* Уберем рамку для центральной колонки */
    border-top: none; /* Уберем рамку для центральной колонки */
    border-bottom: 2px solid #594E3E; /* Добавляем нижний бордер */
  }

  .monument-details-left-col {
    order: 0; /* Поместим левую колонку следующей */
    border-left: none; /* Уберем рамку для центральной колонки */
    border-right: none; /* Уберем рамку для центральной колонки */
    border-top: none; /* Уберем рамку для центральной колонки */
    padding-bottom: 10px;
    border-bottom: 2px solid #594E3E; /* Добавляем нижний бордер */
  }

  .monument-details-right-col {
    order: 1; /* Поместим правую колонку внизу */
    
  }
}

