.monument-details-right-column-content {
  width: 90%;
  min-height: auto;
  padding: 20px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  font-size: calc(0.65vw + 0.85vh);
}

.section {
  margin-bottom: 20px;
  text-align: center;
}

.button-news,
.button-announcements {
  background-color: #769978;
  color: #fff;
  border: none;
  padding: 12px 24px; /* Увеличиваем отступы внутри кнопки */
  cursor: pointer;
  margin-bottom: 10px; /* Добавляем отступ между кнопкой и списком */
  align-items: center;
  border: 2px solid #594E3E; /* Граница кнопки */
  font-size: calc(0.65vw + 0.85vh);
}

.button-announcements {
  background-color: #DBB86B;
}

.button-news:hover,
.button-announcements:hover {
    color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Выравниваем текст списка по левому краю */
}

ul li {
  color: black;
  margin-top: 10px;
}
