.center-content {
  display: flex;
  justify-content: center; /* Выравнивание содержимого по горизонтали по центру */
  align-items: center; /* Выравнивание содержимого по вертикали по центру */
  height: 100vh; /* Высота контейнера равна высоте видимой области окна браузера */
  color: brown;
}