@font-face {
  font-family: "Pixel-Ultima-Bold";   
  src: local("Pixel-Ultima-Bold"),
    url("./fonts/pixel-ultima-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel-Ultima-Regular";   
  src: local("Pixel-Ultima-Regular"),
    url("./fonts/pixel-ultima-regular.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

 
}

code {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




#root{
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}